<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Category</title>
</head>
<body>
    <h1>Create New Category</h1>
    <a href="/category">Back to List</a>
    <form action="/category/add" method="POST">
        <label>Name:</label>
        <input type="text" name="name" required>
        <button type="submit">Create</button>
    </form>
</body>
</html>
